.game{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightskyblue;
}

.btn{
  height: 100px;
  width: 250px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(246, 135, 135);
  font-size: 40px;
}
.display{
  font-size: 40px;
  color: darkred;
}

#rnds{
  height: 50px;
  width: 50px;
  font-size: 40px;
  background-color:rgb(246, 135, 135);
}

p{
  display: inline;
  font-size: 40px;
  font-weight: 100;
}
